dist
build
local.build.properties

.DS_Store
target/
tmp/
*.xsd
*.db
*.swp
*~
src/main/resources/props/production.props
lib_managed/
src_managed/
project/boot/
cocoon/target/
cocoon/text/target/
cocoon/text/tmp/
cocoon/viewer/target/
cocoon/viewer/tmp/
validation/target/
validation/tmp/

data/xslExternal/


data/xsl/ref-addIDs.xsl

data/tei/tei-to-flat.xsl

data/xsl/addlLineNumbertolb.xsl

data/tei/for-transcribers.xsl

data/tei/persons-Atara.xml

data/tei/testingXlsXtoXML.xsl


