@charset "UTF-8";

div.page {
	width:70em;
	position:relative;
	float:center;
	padding-top:12pt;
	margin-left: 4em;
	margin-right: 4em;
}
div.OneCol{
	width:45em;
	float: center;
	position:relative;
	padding: 1em;
	margin-right:3em;
	margin-left:3em;
}
div.hr {
	clear:both;
	padding-top:10px;
	padding-bottom:10px
}
div.columnA {
	float: right;
	position:relative;
	font-size:16px;
	padding: 1em;
	width: 22em;
	margin-right:2em;
	margin-left:2.5em;
}
div.columnB {
	float: left;
	position:relative;
	padding: 1em;
	width: 22em;
	margin-right:2.5em;
	margin-left:2em;
}
h1 {
	font-size:larger;
	direction:ltr;
	margin-top:1em;
	text-align:center
}

h2 {
	font-size: medium;
	direction:ltr;
	margin-top:1em;
	text-align:center
}
body {
	line-height:12pt
}
p {
	direction: ltr;
	text-align:left;
	margin-left:8em;
}
hr {width:75%;
	align:center;
	height:3px;
	color:#999;
	background:#999}
	
span.ord {
	display:none;
}
span.tr {
	display:none;
}
span.surplus:before {content:"/"}
span.surplus:after {content:"/"}
span.quote {color: #F00}
span.persName {color: #00F}

span.bibQuote {
	display:none;
}
span.add:before {
	content:"«"
}
span.add:after {
	content:"»"
}
span.del:before {
	content:"{{"
}
span.del:after {
	content:"}}"
}
span.missing {
	color:#ccc;
}
span.traces {
	border-top:dotted thin;
	color:#999
}
span.unclear {
	border-top:dotted thin;
}

span.lb {
	position:absolute;
	font:10pt bold Arial, Helvetica, sans-serif;
	text-align:right;
	top: auto;
	right: -1em;
}
span.expan {
	display: none
}
span.pageNo {
	direction:ltr;
		font:10pt bold Arial, Helvetica, sans-serif;
	text-align:left;
	position: absolute;
	margin-top:-14pt;
	top: auto;
	right:-2em;
}
span.ColNo {
	direction:ltr;
	font:10pt bold Arial, Helvetica, sans-serif;
	position:absolute;
	top: auto;
	right:-2em;
	text-align:left;
}
span.Chapter {
	direction:ltr;
	text-align:right;
	font:14pt bold Arial, Helvetica, sans-serif;
	position:absolute;
	top:auto;
	left:-2.5em;
}

span.mishnah {
	position:absolute;
	font:10pt bold Arial, Helvetica, sans-serif;
	top:auto;
	left:-1em;
}

span.label {
	font-size:larger;
	letter-spacing:2px;
	padding-left:1em;
	padding-right:1em;
}



/* CSS Document */
