@charset "UTF-8";
/* CSS Document */

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#select-wits {
    cursor: move;
}

.wit-info {
    font-size: xx-small;
    position: absolute;
    right: 1em;
}

p#instructions {
    text-align: center;
}

#header{
    text-align:center;
    margin:0px;
    padding:0px;
    border-bottom:1px solid #DDD;
    background:url(../images/bg-page.jpg) no-repeat scroll center top rgb(197, 164, 113)
}
#header img{
    padding:20px 0;
    margin:0px 450px 0px 0px;
    border:0;
}

a:link,
a{
    text-decoration:none;
    color:#722C25;
}
a:hover{
    text-decoration:underline;
    color:#722C25;
}

a.toggle{
    color:#FFFFFF;
    background:#722C25;
    font-weight:bold;
    padding:6px;
    font-size:75%;
    font-family:arial, helvetica, sans-serif;
}
a.toggle:hover{
    text-decoration:none;
}

div.hrlineB{
    clear:both;
    width:100%;
    margin:0;
    padding:0;
    height:12px;
    line-height:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #fff;
    background:url(../images/bg-line1.png) repeat;
}

.contents{
    text-transform:uppercase;
    font-family:Helvetica, Arial, sans-serif
}
.contents h2{
    font-size:80%;
    text-align:center;
    color:#722C25;
}
.contents a{
    text-decoration:none;
    color:#722C25;
    padding:0px 10px;
}

h2{
    text-align:center;
    color:#722C25;
}

div.about,
div.browse,
div.notes{
    margin:0px auto;
    width:60%;
}
div.about a.highlighted{
    font-weight:bold;
}

#shown p:first-of-type{
    border-bottom:1px solid #722C25;
    padding-bottom:5px;
}
#hidden{
    background:#ddc495;
}
#hidden p:first-of-type{
    border-bottom:1px solid #722C25;
    padding-bottom:5px;
    padding-right:0;
    padding-left:0;
    background:white;
}
#hidden p:last-of-type{
    border-top:1px solid #722C25;
    padding-top:5px;
    padding-right:0;
    padding-left:0;
    background:white;
}
#hidden p{
    padding-right:10px;
    padding-left:10px;
}
hr{
    color:#ddd;
}

div.hr{
    clear:both;
    width:75%;
    margin:20px auto;
    height:5px;
    color:#722C25;
    border:#722C25;
    background-color:#722C25;
}

#footer{
    margin-top:50px;
    padding-top:20px;
    color:#999;
    font-size:9pt;
    font-family:Helvetica, Arial, sans-serif
}
#footer .footer{
    margin:0px auto;
    padding:12px 0px 25px 0px;
    width:900px;
}
#footer .info{
    clear:both;
}
#footer .fl{
    text-align:left;
    float:left;
    width:20%;
}
#footer .fr{
    text-align:right;
    float:right;
    width:70%;
}
#footer .credit{
    clear:both;
    text-align:right;
    margin-top:5px;
    line-height:1.5;
}
#footer .license{
    clear:both;
    text-align:right;
}
#footer a{
    color:#722C25;
    text-transform:none;
    text-decoration:none;
}

form.buttons{
    width:100%;
    text-align:center;
    background:#722C25;
    color:#FFFFFF;
    border-style:none;
    font-weight:bold;
}
form.buttons input{
    padding:10px;
    margin:0px auto 0px auto;
    text-align:center;
    background:#722C25;
    color:#FFFFFF;
    border-style:none;
    font-weight:bold;
}

.form-signin {
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin button {
    margin-top: 30px;
}

/* Bad Bootstrap additions */
.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}
