@charset "UTF-8";
/* CSS Document */
h1{text-align:center; font-size:28px; font:bold ;}
h2{text-align:center; font-size:22px; font:bold;}
h3{direction:ltr; text-align:center; 
font-size:20px; font-family: Arial, Helvetica, sans-serif; font:bold;}
span.tractate{
	font-style:italic;
}
div.intro{
	direction:ltr;
}
div.alignment-table{
	font-family:"Times New Roman", Times, serif; 
	width:75%;
	margin-left:15%; 
    margin-right:15%;
	height:auto;
	overflow:auto;
	border:inset medium #666
}
.descr-text{
	font-family:"Times New Roman", Times, serif; 
	direction:ltr;
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
table.sources {
    width:65%; 
    margin-left:20%; 
    margin-right:15%;
	
  }
.ref-wit{ 
	width:5em;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	text-align:left;
	padding-right:1em;
	}
	
.variant{
	background:#C0C0C0;
}
.ref-data{ 
	font-family:"Times New Roman", Times, serif; 
	font-style:italic;
	font-weight:normal; 
	text-align:left;
	}
	
.wit{ direction:ltr; font-family: Arial, Helvetica, sans-serif; font-weight:bold; text-align:center;}
td{ padding-left:2px; padding-right:2px;}
span.lemma
{
	direction:rtl;
	font-size:115%; 
	font-weight:bold;
	border:thin
	}
.lemma:after
{
	content:"] "; 
	
	}

/*span.reading-group:after{
	content:"¶\00a0\00a0\00a0";
}*/

span.reading-group{
	display:block;
	margin-right:2em;
	text-indent:-2em;
	
	}

span.witnesses{ 
	direction:rtl;
	}
.readings:before{ direction:rtl;
	content:"\00a0\00a0| ";
	}
.readings:after{ 
	direction:rtl; 
	content:": ";
	}

div.text {
	font-family:"Times New Roman", Times, serif; 
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
	direction:rtl;
	size:portrait;
	}

div.apparatus {
	font-family:"Times New Roman", Times, serif; 
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
	direction:rtl;
	size:portrait;
}
