<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <script src="$app-root/resources/js/mtjsviewer.js"/>
    <h2>Mishnah - Tosefta Alignment</h2>
    <p id="instructions">Choose a book and a chapter to see the alignment.</p>
    <div id="MTV" class="container">
        <div class="row" id="dm-align-nav" style="display:none;">
            <div class="btn-group pull-right" role="group">
                <a href="#" class="btn btn-default" role="button">
                    <i class="glyphicon glyphicon-chevron-left"/>
                </a>
                <a href="#" class="btn btn-default" role="button">
                    <i class="glyphicon glyphicon-chevron-right"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div id="passages" class="col-xs-2">
                <div class="just-padding">
                    <div class="list-group list-group-root well">
                        <span data-template="app:toc" data-template-level="chap"/>
                    </div>
                </div>
            </div>
            <div id="MTV-align" class="col-xs-5"/>
            <div id="MTV-base" class="col-xs-5"/>
        </div>
    </div>
    <script src="$app-root/resources/js/ddalign.js"/>
</div>