<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="about" title="Digital Mishnah Project: Browse Witnesses">
        <h2>Browse Files from the Digital Mishnah Project</h2>
        <div id="shown" style="direction:ltr;">
            <p>
                <a class="toggle" data-toggle="collapse" href="#about">About this Page</a>
            </p>
        </div>
        <div class="collapse" id="about" style="direction:ltr"><!--<p><a class="toggle" 
            href="javascript:toggle('hidden')">Hide Description</a></p>-->
            <p>Files are stored as XML, following the TEI (Text Encoding Initiative)
                specifications. They are presented in converted into HTML using XSLT on the fly,
                using a Cocoon pipeline. Most sigla for manuscript witnesses are based on the <i>Thesaurus of Talmud
                    Manuscripts</i>, ed. Sussmann et al. (Jerusalem: Yad Izhak ben Zvi and Friedenberg
                Genizah Project, 2012), preceded by "S". Print editions are given a serial number of the same type, preceded by "P".</p>
            <p>In future versions, these sigla will be enriched to indicate type of manuscript
                (e.g., Mishnah alone or with commentary; Talmud text) and other information.</p>
            <p>Sigla of the type "Kauf" are legacy files, that are part of the initial demo
                based on Chapter 2 of Bava Metsi'a.</p>
            <p>Genizah fragments are encoded whole. Other witness files, except legacy files,
                encode the text of Bava Qamma, Bava Metsi'a, and Bava Batra. Legacy files
                include only Chapter 2 of Bava Metsi'a, and are gradually being replaced.</p>
            <p>The heading "J.G.M." refers to joined Genizah fragments as identified in the Sussmann Catalog. At a later stage, the project will provide virtual joins of such fragments. It will also extend joining to other manuscripts (e.g., the Maimonides autograph ms).</p>
            <p>Click "TEI/XML" to see the underlying TEI encoding.</p>
            <!--<p><a class="toggle"
                href="javascript:toggle('hidden')">Hide Description</a></p>-->
        </div>
    </div>
    <div class="browse">
        <h2>Witness List</h2>
        <table class="table" data-template="app:list_wits"/>
    </div>
</div>