<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">Digital Mishnah</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="stylesheet" href="$app-root/resources/css/style.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"/>
        <link rel="stylesheet" href="$app-root/resources/css/mtjsviewer.css"/>
    </head>
    <body>
        <header id="header">
            <a href="$app-root">
                <img src="$app-root/resources/images/mishnah-logo.png" alt="Digital Mishnah"/>
            </a>
        </header>
        <div class="hrlineB"/>
        <div id="content"/>
        <footer id="footer" class="footer-wrap">
            <div class="hrlineB"/>
            <div class="footer">
                <div class="info">
                    <div class="fl">© 2012–2013 Digital
                        Mishnah
                    </div>
                    <div class="fr">Developed by Hayim Lapin with
                        support from the <a href="http://mith.umd.edu/" title="MITH" target="_blank">Maryland
                            Institute of Technology in the Humanities
                            (MITH)</a>.
                    </div>
                </div>
                <div class="credit">The technological infrastructure for
                    this project has been supported in part by a
                    generous grant from <a href="http://aws.amazon.com/" target="_blank">Amazon Web Services</a>.<br/>
                    Except where otherwise noted, content on this site
                    is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution International 4.0
                        License</a>. 
                </div>
            </div>
        </footer>
    </body>
</html>