@charset "UTF-8";
/*CSS File */
h2{
    font-size:110%;
    font-weight:bold;
    text-align:center;
    color:#722C25;
}
h3 {
    font-size:100%;
    text-align:center;
    color:#722C25;
}
span.link{
    font-size:65%
}