@charset "UTF-8";
/* CSS Document */

#header { text-align: center; margin: 0px; padding: 0px; border-bottom: 1px solid #DDD; background: url(../images/bg-page.jpg) }
#header img { padding: 20px 0; margin: 0px auto; border: 0; }

a:link, a { text-decoration: none; color: #722C25; }
a:hover { text-decoration: underline; color: #722C25; }

a.toggle {
    color:#FFFFFF;
    background:#722C25;
    font-weight:bold;
    padding:6px;
    font-size:75%;
    font-family:arial, helvetica, sans-serif;
}
a.toggle:hover{
    text-decoration:none;
}

div.hrlineB { clear: both; width: 100%; margin: 0; padding: 0; height: 12px; line-height: 0; border-top: 1px solid #ddd; border-bottom: 1px solid #fff; background: url(../images/bg-line1.png) repeat; }

.contents { text-transform: uppercase; font-family: Helvetica, Arial, sans-serif }
.contents h2 { font-size: 80%; text-align:center; color:#722C25;}
.contents a { text-decoration: none; color: #722C25; padding: 0px 10px; }

h2 { text-align:center; color:#722C25;}

div.about, div.browse, div.notes { margin: 0px auto; width: 60%; }
div.about a.highlighted { font-weight: bold; }

#footer { margin-top: 50px; padding-top: 20px; color: #999; font-size: 9pt; font-family: Helvetica, Arial, sans-serif }
#footer .footer { margin: 0px auto; padding: 12px 0px 25px 0px; width: 900px; }
#footer .info { clear: both; }
#footer .fl { text-align: left; float: left; width: 20%; }
#footer .fr { text-align: right; float: right; width: 70%; }
#footer .credit { clear: both; text-align: right; margin-top: 5px; line-height: 1.5; }
#footer .license { clear: both; text-align: right; }
#footer a { color: #722C25; text-transform: none; text-decoration: none; }

form.buttons { width: 100%; text-align: center; background:#722C25; color:#FFFFFF; border-style:none; font-weight:bold;}
form.buttons input { padding: 10px; margin: 0px auto 0px auto; text-align: center; background:#722C25; color:#FFFFFF; border-style:none; font-weight:bold; }

