@charset "UTF-8";

div.meta{
    width:50em;
    position:relative;
    padding-top:1em;
    margin-left:auto;
    margin-right:auto;
    line-height:100%;
    vertical-align:top;
    clear:both;
}
div.page{
    width:70em;
    position:relative;

    padding-top:12pt;
    margin-left:4em;
    margin-right:4em;

}
div.nav{
    line-height:16pt;
    font-size:100%;
    display:block;
    direction:ltr;
    width:50em;
    margin:0px auto;

}

div.oneCol{
    width:45em;
    direction:rtl;
    position:relative;
    padding:1em;
    margin-right:3em;
    margin-left:3em;
}
div.chap{
    width:50%;
    position:relative;
    padding:1em;
    margin-right:5%;

}
div.hr{
    clear:both;
    padding-top:10px;
    padding-bottom:10px;
}
div.columnA{
    float:right;
    position:relative;
    font-size:16px;
    padding:1em;
    width:22em;
    margin-right:2em;
    margin-left:2.5em;
    direction:rtl;
}
div.columnB{
    float:left;
    position:relative;
    padding:1em;
    width:22em;
    margin-right:2.5em;
    margin-left:2em;
    direction:rtl;
}
table.meta{
    border-top:1px solid black;
    border-bottom:1px solid black;
    vertical-align:top;
    table-layout:fixed;


}
td.data{
    width:8em;
    font-weight:bold;
    padding-right:1em;
    vertical-align:top;

}
td.descr{
    width:17em;
    padding-right:1em;
    vertical-align:top;
}
h1{
    font-size:larger;
    direction:ltr;
    margin-top:1em;
    text-align:center;
}

h2{
    font-size:medium;
    direction:ltr;
    margin-top:1em;
    text-align:center;
}
body{
    line-height:150%;
}
p{
    direction:ltr;
    text-align:left;

    margin-left:8em;
}
hr{
    width:75%;
    text-align:center;
    height:3px;
    color:#999;
    border:#999;

}
.current-block{
    direction:ltr;
    text-align:left;
    float:left;
    width:55%;
    border:solid black 0.5pt;
    clear:none;
    line-height:16pt;
}
span.current{
    direction:ltr;
    display:inline-block;
    width:auto;
    

}
span.next{
    width:10%;
    float:left;
    margin:auto;
    top:auto;

}
span.last{
    width:10%;
    float:left;
        text-align:left;
    margin:auto;
    top:auto;

}
span.first{
    width:10%;
    text-align:right;
    float:right;
    margin:auto;
    top:auto;
}
span.prev{
    width:10%;
    float:right;
    margin:auto;
    position:relative;
    top:auto;
    text-align:right;

}
span.selMode{
    width:auto;
    /*float:left;*/
    display:inline-block;
    margin:auto;
    position:relative;
    text-align:left;
    margin:0em 1em;
}
.submForm{
     float:right;margin-top:-48pt;
     
}
span.ord{
    display:none;
}
span.tr{
    display:none;
}
span.surplus:before{
    content:"/"
}
span.surplus:after{
    content:"/"
}
span.quote{
    color:#F00
}
span.persName{
    color:#00F
}

span.bibQuote{
    display:none;
}
span.add:before{
    content:"["
}
span.add:after{
    content:"]"
}
span.del:before{
    content:"("
}
span.del:after{
    content:")"
}
span.metamark:before{
    content:"["
}
span.metamark:after{
    content:"]";
    }
 span.metamark{
    font-size:70%; 
    vertical-align:top;
}
span.missing{
    color:#999;
    direction:rtl;
}

span.skipped{
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:smaller;
}
span.skipped:before{
    content:"[";
}
span.skipped:after{
    content:" lines]";
}

span.supplied{
    color:#999;
    border-top:dotted thin #999;
}
span.unclear{
    color:#999
}
span.damage{
    border-top:dotted thin;
    direction:rtl
}

span.lb{
    position:absolute;
    font:10pt bold, Arial, Helvetica, sans-serif;

    text-align:right;
    top:auto;
    right:-1em;
}
span.lb-min-marker:before{
    content:"|";
    font-size:larger;
    font-weight:bold;
}
span.lb-ch-min{
    position:absolute;
    font:10pt bold, Arial, Helvetica, sans-serif;
    text-align:right;
    top:auto;
    right:-1em;
}
span.lb-maj-marker:before{
    content:"||";
    font-size:larger;
    font-weight:bold;
}
span.lb-ch-maj{
    position:absolute;
    font:10pt bold, Arial, Helvetica, sans-serif;

    text-align:right;
    top:auto;
    right:-1em;
}
span.expan{
    display:none;
}
span.unpointed{
    display:none;
}
span.pageNo{
    direction:ltr;
    font:10pt bold, Arial, Helvetica, sans-serif;
    text-align:left;
    position:absolute;
    margin-top:-14pt;
    top:auto;
    right:-2em;
}
span.colNo{
    direction:ltr;
    font:10pt bold, Arial, Helvetica, sans-serif;
    position:absolute;
    top:auto;
    right:-2em;
    text-align:left;
}
span.pageNo-ch{
    direction:ltr;
    font:9pt bold, Arial, Helvetica, sans-serif;
    text-align:left;
    position:absolute;
    margin-top:-14pt;
    top:auto;
    right:-2em;
}
span.pageNo-ch-marker:before{
    content:"¶";
    font-size:larger;
    font-weight:bold;

}
span.colNo-ch-marker:before{
    content:"|";
    font-size:larger;
    font-weight:bold;
}

span.colNo-ch{
    direction:ltr;
    font:9pt bold, Arial, Helvetica, sans-serif;
    position:absolute;
    top:auto;
    right:-2em;
    text-align:left;
}
span.chapter{
    direction:ltr;
    text-align:right;
    font:14pt bold, Arial, Helvetica, sans-serif;
    position:absolute;
    top:auto;
    left:-2.5em;
}
span.chapter-ch{
    direction:ltr;
    text-align:right;
    font:14pt bold, Arial, Helvetica, sans-serif;
    position:absolute;
    top:auto;
    left:-2.5em;
}


span.mishnah{
    position:absolute;
    font:10pt bold, Arial, Helvetica, sans-serif;
    top:auto;
    left:-1em;
}
span.mishnah-ch{
    position:absolute;
    font:10pt bold, Arial, Helvetica, sans-serif;
    top:auto;
    left:-1em;
}

span.label{
    font-size:larger;
    letter-spacing:2px;
    padding-left:1em;
    padding-right:1em;
}
span.label-ch{
    text-decoration:underline;
}
span.marg-label-r{

    position:absolute;
    text-align:right;
    top:auto;
    right:.2em;
}



/* CSS Document */
