<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1 data-template="app:read-title"/>
                <a class="btn btn-default btn-about" role="button" data-toggle="collapse" href="#about" aria-expanded="false" aria-controls="about">About This Page</a>
            </div>
            <div class="collapse" id="about">
                <p>The top region of this page provides navigation controls to browse through the document.</p>
                <ul>
                    <li>By default, the initial view is in <hi>page</hi> mode, and the first page of the document. (Since this is a demo, if the source document is
                        not completely transcribed, the initial view presents the first encoded page</li>
                    <li>Where the page in the source document is in multiple columns users can select <hi>column</hi> mode, and browse by individual column.</li>
                    <li>Users may also select <b>
                            <i>chapter</i>
                        </b> mode and view individual chapters in a more compact format.</li>
                </ul>
                <p>The radio buttons allow the user to change the browsing mode. The <b>
                        <i>First</i>
                    </b>, <b>
                        <i>Last</i>
                    </b>, <b>
                        <i>Previous</i>
                    </b>, and
                    <b>
                        <i>Next</i>
                    </b> links allow the browser to page through the document. It is possible also to jump to a specific page, column, or
                    chapter by entering the location in the appropriate text field.</p>
                <p>The table below the navigation controls presents information on repository, hands, provenance and other data, including, where available, links to
                    the National Library of Israel catalog.</p>
                <p>Finally, the selected text and any notes are presented below the metadata.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div data-template="app:read"/>
    </div>
</div>